// *all color project

$primary1: #ffffff;
$primary2: #333333;
$primary3: #133D8D;
$primary4: #BD0007;
$primary5: rgba(255, 255, 255, 0.5);
$primary6: #899EC6;
$primary7: #DCE2EE;
$primary8: #e4171d;
